.container {
  border: 1px solid #000;
  width: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 450px;
  margin-top: 20px;
}

.container h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

.slider {
  width: 40%;
}
